.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
  }
  
  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  ion-icon {
    font-size: 100px;
    margin-bottom: 20px;
  }
  
  /* Para el tema claro */
  ion-icon {
    color: var(--ion-color-dark);
    /* Color para el tema oscuro */
  }
  
  /* Para el tema oscuro */
  ion-icon.dark {
    color: var(--ion-color-light);
    /* Color para el tema claro */
  }