<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ubicaciones de las Gorras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <capacitor-google-map #map></capacitor-google-map>
  <ion-list >
    <ion-item>
      <ion-toggle>{{gorras[0].title}}</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle>{{gorras[1].title}}</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle>{{gorras[2].title}}</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>