<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="location">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>location</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>dashboard</ion-label>
    </ion-tab-button>  
    <ion-tab-button tab="config">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>