<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="config-container">
    <ion-icon name="person-circle-outline" class="config-icon" size="large" ></ion-icon>
    <h2>Hola {{user}}</h2>
    <ion-button expand="block" color="primary" class="config-button" href="/add-device">
      vincular gorra
    </ion-button>
    <ion-button expand="block" color="danger" class="config-button" (click)="logOut()">Cerrar sesión</ion-button>
  </div>
</ion-content>

