<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Galería de Gorras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Filtrar</ion-label>
    <ion-select placeholder="Seleccionar Gorra" (ionChange)="filterGallery($event)">
      <ion-select-option value="">Ver todas</ion-select-option>
      <ion-select-option *ngFor="let type of gorras" [value]="type">{{ type }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Galería de imágenes -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let hat of gorrasFiltradas">
        @defer (on viewport) {
        <ion-img [src]="hat.img"></ion-img>  
          } @placeholder {
          <img alt="Placeholder photo" src="https://imageplaceholder.net/300">
          }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
