<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Galería de Gorras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="imagenes.length > 0; else loading">
    <ion-row>
      <ion-col size="6" *ngFor="let imagen of imagenes">
        <ion-img [src]="imagen"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>

