<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <h1>Recupera tu contraseña</h1>

    <ion-icon src="../../../assets/icon/logo-ojo-svg.svg"></ion-icon>

    <p>Enviaremos un link de recuperacion a tu correo electrónico</p>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-button id="sendEmail" expand="block" class="reset-button">Enviar link al correo</ion-button>
    <ion-toast trigger="sendEmail" message="Correo enviado" [duration]="5000" icon="send-outline" color="primary"></ion-toast>

    <div class="additional-links">
      <small>¿Ya tienes un usuario? <a href="/home">Iniciar sesión</a></small>
    </div>
  </div>
</ion-content>