<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agrega un gorra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="device-container">
    <h3>Asegurate de que la gorra este encendida y tu Bluetooth este activo</h3>
    <br>

    <ion-button expand="block" color="primary" (click)="buscarDispositivos()">
      Vincular Gorra por Bluetooth
    </ion-button>
    <br>

    <ion-list *ngIf="dispositivos.length > 0" >
      <ion-item *ngFor="let dispositivo of dispositivos">
        <ion-label>
          <h2>{{ dispositivo.name }}</h2>
          <ion-button fill="solid" color="secondary">
            Agregar gorra
          </ion-button>
  
        </ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
