<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agrega un dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="device-container">
    <h1>Agrega un dispositivo</h1>

    <div class="form-container">
      <ion-input label="Dispositivo" label-placement="floating" fill="solid" placeholder="Nombre del dispositivo"></ion-input>
      <br>
      <ion-input label="Identificador" label-placement="floating" fill="solid" placeholder="Agrega el identificador"></ion-input>
    </div>

    <ion-button expand="block" class="register-button" (click)="addDevice()" >Agregar dispositivo</ion-button>
  </div>
</ion-content>
