<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <h1>Gorra inteligente</h1>
    <h2>Crear usuario</h2>
    <ion-icon src="../../../assets/icon/logo-ojo-svg.svg"></ion-icon>

    <form [formGroup]="formRegistro">
      <ion-input label="Usuario" label-position="floating" fill="solid" placeholder="crea un usuario" formControlName="nombre"></ion-input>
      <ion-input label="Correo electrónico" label-position="floating" type="email" formControlName="correo" fill="solid" placeholder="ingresa tu correo"></ion-input>
      <ion-input label="Contraseña" label-position="floating" type="password" formControlName="contrasena" fill="solid" placeholder="crea una contraseña segura"></ion-input>
    </form>

    <ion-button expand="block" class="register-button" (click)="sendForm()" >Crear usuario</ion-button>

    <div class="additional-links">
      <small>¿Ya tienes un usuario? <a href="/home">Iniciar sesión</a></small>
    </div>
  </div>
</ion-content>
