<ion-content class="ion-padding" [fullscreen]="true">

  <div class="login-container">
    <h1>Gorra inteligente</h1>
    <h2>Iniciar sesión</h2>

    <ion-icon src="../../../assets/icon/logo-ojo-svg.svg"></ion-icon>

    <div class="form-container">
      <ion-input label="Usuario" label-placement="floating" fill="solid" placeholder="Agrega tu usuario"></ion-input>
      <br>
      <ion-input   type="password" label="Contraseña" label-placement="floating" fill="solid" placeholder="Agrega tu contraseña"></ion-input>
    </div>

    <ion-button expand="block" class="login-button" href="/tabs/location">Iniciar sesión</ion-button>

    <div class="additional-links">
      <small>¿No tienes una cuenta? <a href="/register">Crear usuario</a></small>
      <small>¿Olvidaste tu contraseña? <a href="/reset-password">Recuperar contraseña</a></small>
    </div>
  </div>

</ion-content>
