<ion-content class="ion-padding" [fullscreen]="true">

  <div class="login-container">
    <h1>Iniciar sesión</h1>

    <ion-icon name="person-circle-outline" class="icon"></ion-icon>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button" href="/location">Iniciar sesión</ion-button>

    <div class="additional-links">
      <small>¿No tienes una cuenta? <a href="/register">Crear usuario</a></small>
      <small>¿Olvidaste tu contraseña? <a href="#">Recuperar contraseña</a></small>
    </div>
  </div>

</ion-content>